        /* Reset CSS để loại bỏ các margin và padding mặc định */
        body, h1, h2, h3, p {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
        }

        /* Bố cục chung của trang */
        body {
            display: flex;
            flex-direction: column;
            height: 100vh; /* Đảm bảo trang web trải dài toàn màn hình */
        }

        /* Header */
        header {
            background-color:white;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        /* Content */
        .content {
            display: flex;
            flex: 1; /* Content trải dài để lấp đầy phần còn lại của trang */
        }

        /* Left */
        aside {
            background-color:white;
            padding: 20px;
            width: 200px;
        }

        /* Center */
        main {
            background-color:white;
            flex: 1;
            padding: 20px;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px; /* Adjust as needed */
            background-color: #fff; /* Set the background color to white */
        }
        
        .table th, .table td {
            border: 1px solid #000; /* Add a black border to table cells */
            padding: 8px;
            text-align: left;
        }
        
        .table th {
            background-color: #f2f2f2;
        }
        
        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        
        .table tr:hover {
            background-color: #f5f5f5;
        }
        /* Footer */
        footer {            
            background-color:white;
            text-align: left;
            padding: 10px;
        }
        .add-button{
            width: 200px;
            height: 200px;
            background-color: orange;
            color: white;
        }